@model int
@{
    ViewBag.Tile = "Error 404";
}
<div class="alert alert-danger mt-1 mb-1">
    <h4>404 Not Found Error : </h4>
    <hr />
    <h5>Item with Id = @Model  Not Found</h5>
</div>
<a asp-action="index" asp-controller="home" class="btn btn-outline-success" style="width:auto">Back to the main page</a>